.picContainer {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20rem;
  height: 18rem;
}

.ProfilePic {
  width: 20rem;
  padding: 10px;
  margin: 5px 5px 5px 300px;
}

.container {
  background-image: url("../../assets/sky-6811874.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  height: 100vh;
}

.about {
  font-family: "Lato";
  font-size: 100px;
  padding: 10px 10px 10px 0px;
  margin: 5px 5px 5px 300px;
}

.aboutSub {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  padding: 10px;
  margin: 5px 5px 5px 300px;
  width: 55%;
}

.aboutSubTwo {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  padding: 10px;
  margin: 150px 300px 5px 5px;
  /* width: 55%; */
  text-align: right;
}

.icons {
  width: 100rem;
  margin-top: 50px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
}
